//- 

    Alex Norton
    a^N 
    http://alexnortn.com

    Pug Mixins for Modular Implementation


//-  Test ~ Hello Mixin ~
mixin users2(users, colour)
    ul
    each user in users
        li(class=colour)= user


//-  Case-Study Preview
    Requires: <data> <index> 
        + route <scr/string>
        + name-preview <string>
        + project-type <string>
        + project-name <string>
        + project-description <string>
        + project-image-preview <src>

mixin caseStudyPreview(data, index)
    .case-study.case-study-window.item.case-study-item&attributes( {'data-inproject': false}, {'data-projectIndex': index}, {'data-project': data.route},  {'id': data.preview} )
        .case-study-overview.endeavor-overview.endeavor-overview-preview
            .description
                .description-wrapper
                    h3=data.project_type
                    h2=data.name
                    hr
                    p=data.description.brief
            .hero-box
                .hero(style=`background-image: url(${data.image_hero})`)


//-  Project-Study Preview
    Requires: <data> <index>
        + route <scr/string>
        + name-preview <string>
        + project-name <string>
        + project-description <string>
        + project-image-preview <src>

mixin projectPreview(data, index)
    li.select-work-item.item.project-item&attributes( {'data-inproject': false}, {'data-projectIndex': index}, {'data-project': data.route}, {'id': data.preview} )
        .select-work-img-container
            .select-work-description
                p.tamer=data.description.brief
                hr
            .select-work-img(style=`background-image: url(${data.image_preview})`)
        h3 #{data.name}


//-  Endeavor Header
    Requires: <data>
        + route <scr/string>
        + name-preview <string>
        + project-name <string>
        + project-description <string>
        + project-image-preview <src>

mixin endeavorHeader(data)
    .endeavor-overview
        .description
            .description-wrapper
                h3=data.project_type
                h2=data.name
                hr
                p=data.description.brief
        .hero-box.hero-parallax.parallax__group
            .hero.parallax__layer--back.no-hover(style=`background-image: url(${data.image_hero})`)


//-  Endeavor Main Description & Meta Info
    Requires: <data.description> <data.meta>
        + project-description <{string}>
        + project-meta <{string}>
            + Client
            + Year
            + Role
            + Team
            + Discipline
            + Medium
            + Technologies
            + Duration

mixin endeavorIntro(data)
    - var description = data.description
    - var meta = data.meta
    .endeavor-intro.cf
        .endeavor-description 
            q=description.quote
            h4 Brief
            p.tamer=description.extensive
            h4 Process
            p.tamer=description.process
        .meta-data
            ul
                li Client
                li=meta.Client
            ul
                li Year
                li=meta.Year
            ul
                li Role
                li=meta.Role
            ul
                li Team
                li=meta.Team
            ul
                li Discipline
                li=meta.Discipline
            ul
                li Medium
                li=meta.Medium
            ul
                li Technologies
                li=meta.Technologies
            ul
                li Duration
                li=meta.Duration


//-  Endeavor Expandable Description Sections
    Requires: <data.description> <data.meta>
        + project-description <{string}>

mixin endeavorDescriptions(data)
    - var sections = data.sections
    .endeavor-item.cf
        .endeavor-description.endeavor-item-left-100.no-border
            each section, index in sections 
                h4=section.name
                p.tamer=section.content


//-  Endeavor Expandable Description Sections Float Right
    Requires: <data.description> <data.meta>
        + project-description <{string}>

mixin endeavorDescriptionsRight(data)
    - var sections = data.sections
    .endeavor-item.cf
        .endeavor-description.endeavor-float-right
            each section, index in sections 
                h4=section.name
                p.tamer=section.content


//-  Endeavor Expandable Description Sections // Large Type
    Requires: <data.description> <data.meta>
        + project-description <{string}>

mixin endeavorDescriptionsBig(data)
    - var sections = data.sections
    .endeavor-item.cf
        .endeavor-description-big.endeavor-item-left-100.no-border
            each section, index in sections 
                h4=section.name
                p.tamer=section.content


//-  Endeavor Project | Full-Width blocking, Caption
    Requires: <datum.caption>
    Description: 35vw-Width Text Element

mixin endeavorCaptionFS(datum)
    - var caption = datum.caption
    .endeavor-item.fsw
        p.caption.no-margin.endeavor-padding-left-50.endeavor-width-35-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Caption
    Requires: <datum.caption>
    Description: 60vw-Width Text Element // Slightly larger text size + Circular Font

mixin endeavorCaptionFS2(datum)
    - var caption = datum.caption
    .endeavor-item.fsw
        p.no-margin.endeavor-caption-2.endeavor-padding-left-50.endeavor-width-60-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Caption | Centered
    Requires: <datum.caption>
    Description: 35vw-Width Text Element Centered

mixin endeavorCaptionFSCenter(datum)
    - var caption = datum.caption
    .endeavor-item.endeavor-flex.endeavor-flex-center.fsw
        p.caption.no-margin.endeavor-text-center.endeavor-width-35-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Caption | Centered
    Requires: <datum.caption>
    Description: 60vw-Width Text Element Centered // Slightly larger text size + Circular Font

mixin endeavorCaptionFSCenter2(datum)
    - var caption = datum.caption
    .endeavor-item.endeavor-flex.endeavor-flex-center.fsw
        p.endeavor-caption-2.no-margin.endeavor-text-center.endeavor-width-60-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Caption | Centered
    Requires: <datum.caption>
    Description: 75vw-Width Text Element Centered // Pull Quote text size + Circular Font

mixin endeavorCaptionFSCenter3(datum)
    - var caption = datum.caption
    .edeavor-item.endeavor-flex.endeavor-flex-center.fsw
        p.endeavor-pull-quote.no-margin.endeavor-text-center.endeavor-width-75-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Subheader + Caption | Centered
    Requires: <data.header> <data.caption>
    Description: 35vw-Width Text Element Centered // Sub-Header + Caption + Circular Font

mixin endeavorPullheaderCaptionFS(data)
    - var subheader = data.subheader
    - var caption = data.caption
    .endeavor-item.endeavor-flex.endeavor-flex-center.endeavor-flex-column.fsw
        h2.endeavor-subheader.endeavor-pull-quote=subheader
        p.endeavor-caption-2.no-margin.endeavor-text-center.endeavor-width-60-prcnt=caption



//-  Endeavor Project | Full-Width blocking, Content
    Requires: <datum.content>
    Description: 35vw-Width Text Element

mixin endeavorContentFS(datum)
    - var content = datum.content
    .edeavor-item.fsw
        p.content.no-margin.endeavor-float-right.endeavor-width-35-prcnt=content


//-  Endeavor Project | Full-Width blocking, Sub-Header
    Requires: <datum.subheader>
    Description: Full-Width Image Element

mixin endeavorSubheaderFS(datum)
    - var subheader = datum.subheader
    .edeavor-item.endeavor-item-top-125
        h3=datum.subheader

        hr.slight.endeavor-item-top-10.fsw


//-  Endeavor Project | Full-Width blocking, Sub-Header
    Requires: <datum.subheader> <datum.caption>
    Description: Full-Width Image Element

mixin endeavorSubheaderCaptionFS(datum)
    - var subheader = datum.subheader
    - var caption = datum.caption
    .edeavor-item
        h3=datum.subheader
        p.caption.no-margin.endeavor-item-top-15.endeavor-width-35-prcnt=caption
        hr.slight.endeavor-item-top-25.fsw


//-  Endeavor Project | Full-Width Adaptive Image
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageFS(datum)
    - var image = datum.image
    img.endeavor-item.img-load.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image // No Top Margin
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageNoTopFS(datum)
    - var image = datum.image
    img.endeavor-item.endeavor-item-top-none.img-load.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image // No Top Margin
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageNoBottomFS(datum)
    - var image = datum.image
    img.endeavor-item.endeavor-item-bottom-none.img-load.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | 75%-Width Adaptive Image // No Top Margin
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageNoTop75(datum)
    - var image = datum.image
    img.endeavor-item.endeavor-item-top-none.img-load.veil.endeavor-width-75-percent(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image
    Requires: <datum.images[[>
    Description: Full-Width Image Elements Array

mixin endeavorImageFSList(data)
    - var images = data.images
    each image, index in images
        img.endeavor-item.img-load.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | 75%-Width Adaptive Image
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImage75(datum)
    - var image = datum.image
    img.endeavor-item.img-load.veil.endeavor-width-75-percent(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | 75%-Width Adaptive Image
    Requires: <datum.images[[>
    Description: Full-Width Image Elements Array

mixin endeavorImage75List(data)
    - var images = data.images
    each image, index in images
        img.endeavor-item-25.img-load.veil.endeavor-width-75-percent(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Youtube Video
    Requires: <datum.src>
    Description: Full-Width Embed Video Element

mixin endeavorVideoFS(datum)
    - var video = datum.video
    iframe.endeavor-item.media-settings.media-frame.video-settings(width="1920" height="1080" src=video.src frameborder="0" allowfullscreen)


//-  Endeavor Project | Full-Width Adaptive Issuu Digital Publication
    Requires: <datum.src>
    Description: Full-Width Embeded Digital Publication

mixin endeavorPubFS(datum)
    - var pub = datum.pub
    iframe.endeavor-item.media-settings.media-frame.pub-settings(src=pub.src frameborder="0" allowfullscreen)


//-  Endeavor Project | End Pad
    Requires: {} --> Could extend for modularity (see <endeavor.styl)
    Description: empty div to provide padding

mixin endeavorEndPad()
    .end-pad.end-pad-100


//-  Endeavor Project | End Pad
    Requires: {} --> Could extend for modularity (see <endeavor.styl)
    Description: empty div to provide padding

mixin endeavorEndPad250()
    .end-pad.end-pad-250


//-  Endeavor Parallax Images Left
    Requires: <data.pullQuote> <data.image[0], data.image[1]>
    Description: Self-Containing parallax element with two left image and a flush-right pull quote

mixin endeavorTwoImageParallaxLeft(data)
    - var image1 = data.image1
    - var image2 = data.image2
    - var pullQuote = data.pullQuote
    .endeavor-para-box.endeavor-item.parallax__group
        blockquote.left.parallax__layer.parallax__layer--fore=pullQuote
        .endeavor-image-box.endeavor-item-top.endeavor-item-bottom-50(style=`background-image: url(${image1.src})`)
        .endeavor-image-box.endeavor-item-bottom-125(style=`background-image: url(${image2.src})`)


//-  Endeavor Parallax Images Right
    Requires: <data.pullQuote> <data.image[0], data.image[1]>
    Description: Self-Containing parallax element with two left image and a flush-left pull quote

mixin endeavorTwoImageParallaxRight(data)
    - var image1 = data.image1
    - var image2 = data.image2
    - var pullQuote = data.pullQuote
    .endeavor-para-box.parallax__group   
        .endeavor-image-box.endeavor-item-top.endeavor-item-bottom-50.right(style=`background-image: url(${image1.src})`)
        .endeavor-image-box.right.endeavor-item-bottom-125(style=`background-image: url(${image2.src})`)
        blockquote.right.parallax__layer.parallax__layer--fore=pullQuote


//-  Endeavor Image Grid Iterator
    Requires: <data.images[]> <data.images_preview[]>
    Description: Self-Containing element for displaying up to [ 7 ] images in an interacive slider

mixin endeavorImageGridIterator(data)
    - var images = data.images
    .endeavor-item-125.grid.image-grid-wrapper
        .grid-slider.slider-transition
            each image, i in images
                div.fill-area
                    img.img-load.limit-width-50vw.big-moment-3-color.endeavor-image-box--center(src=`${image.src}`)
        each image, i in images
            .image-grid-container.bounce&attributes({'data-slide': i})
                .image-grid(style=`background-image: url(${image.src_preview})`) 


//-  Endeavor Parallax Behind
    Requires: <datum.src>
    Description: Self-Containing element for a full-screen parallax behind effect. Note: margins won't work on this guy.

mixin endeavorParallaxBehind(datum)
    - var image = datum.image
    .endeavor-parallax-behind-fs.parallax__group
        .endeavor-parallax-behind-support.parallax__layer--back(style=`background-image: url(${image.src})`) 


//-  Endeavor Parallax Right + Caption Left
    Requires: <data.imageBig> <data.imageParallax> <data.caption>
    Description: Self-Containing element for a body-width background image, fixed caption + parallax image effect.

mixin endeavorParallaxCaptionRight(data)
    - var imageBig = data.imageBig
    - var imageParallax = data.imageParallax
    - var caption = data.caption
    .endeavor-item.fsw.endeavor-parallax-hybrid.parallax__group  
        .endeavor-parallax-hybrid-color(style=`background-image: url(${imageBig.src})`)
        img.img-load.img-box.endeavor-parallax-hybrid-left-img-box.parallax__layer.parallax__layer--fore(src=`${imageParallax.src}`)
        p.endeavor-parallax-hybrid-left-caption.caption=caption


//-  Endeavor Parallax Left + Caption Right
    Requires: <data.imageBig> <data.imageParallax> <data.caption>
    Description: Self-Containing element for a body-width background image, fixed caption + parallax image effect.

mixin endeavorParallaxCaptionLeft(data)
    - var imageBig = data.imageBig
    - var imageParallax = data.imageParallax
    - var caption = data.caption
    .endeavor-item.fsw.endeavor-parallax-hybrid.parallax__group  
        .endeavor-parallax-hybrid-color(style=`background-image: url(${imageBig})`)
        img.img-box.endeavor-parallax-hybrid-right-img-box.parallax__layer.parallax__layer--fore(src=`${imageParallax.src}`)
        p.endeavor-parallax-hybrid-right-caption.caption=caption


//-  Endeavor Image Centered + Caption
    Requires: <result.image> <result.caption>
    Description: Self-Containing element for centered image + caption

mixin endeavorImageCenterCaption(data)
    - var image = data.image
    - var caption = data.caption
    .endeavor-item.endeavor-para-box.fsw.endeavor-flex-column
        img.endeavor-width-50-percent.img-box.endeavor-image-box--center(src=`${image.src}`)
        p.caption.center-caption=caption


//-  Endeavor Swipable Image Slide
    Requires: <result.images[]>
    Description: Self-Containing element for centered swipable image carousel

mixin endeavorImageSlider(data)
    - var images = data.images
    .endeavor-item.endeavor-image-slider
        each image, i in images
            img.endeavor-image-slider-color.fsw(src = `${images[i].src}`)


//-  Endeavor Swipable Image Slider 75
    Requires: <result.images[]>
    Description: Self-Containing element for centered swipable image carousel

mixin endeavorImageSlider75(data)
    - var images = data.images
    .endeavor-item.endeavor-image-slider.endeavor-width-75-prcnt.endeavor-center
        each image, i in images
            img.endeavor-image-slider-color.fsw(src = `${images[i].src}`)



//- -------------- Hybrid Components ----------------



//-  Endeavor Project | Adaptive Horizontal Column Element
    Requires: <data.header> <data.caption>
    Description: Apaptive Horizontal Column Element with Header + Caption

mixin endeavorCaptionHeader(data, _width)
    - var header = data.header
    - var caption = data.caption
    div.endeavor-border-top.endeavor-item-all-25
        h4.endeavor-item-bottom-15=header
        p.caption.caption-mod.endeavor-text-left.no-margin=caption


//-  Endeavor Project | Adaptive Horizontal Column Element
    Requires: <data.header> <data.image>
    Description: Apaptive Horizontal Column Element with Header + Image

mixin endeavorImageHeader(data, _width)
    - var header = data.header;
    - var image_top = data.image_top;
    - var images = data.images;
    div.endeavor-item-all-25
        img.img-load.veil.fsw(src=image_top.src)&attributes({'data-src': image_top.src})
        h4.endeavor-item-bottom-15.endeavor-text-center.endeavor-item-top-50=header
        each image, index in images
            img.img-load.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Adaptive Horizontal Column Element Iterator
    Requires: <data.headers[]> <data.captions[]> 
    Works best with 3 columns --> As dictated by @media

mixin endeavorCaptionHeaderGrid(data)
    - var _width = (1 / (data.length + 0.5)) * 100; //- % of available width | 0.5 experimentally determined spacing coefficiant
    .endeavor-item.endeavor-flex-row-nowrap
        each datum, index in data
            +endeavorCaptionHeader(datum, _width)


//-  Endeavor Project | Adaptive Horizontal Column Element Iterator
    Requires: <data.headers[]> <data.images[]> 
    Works best with 3 columns --> As dictated by @media

mixin endeavorImageHeaderGrid(data)
    - var _width = (1 / (data.length + 0.5)) * 100; //- % of available width | 0.5 experimentally determined spacing coefficiant
    .endeavor-item.endeavor-flex-row-nowrap
        each datum, index in data
            +endeavorImageHeader(datum, _width)





































