//- 

    Alex Norton
    a^N 
    http://alexnortn.com

    Pug Mixins for Modular Implementation


//-  Case-Study Preview
    Requires: <data> <index> 
        + route <scr/string>
        + name-preview <string>
        + project-type <string>
        + project-name <string>
        + project-description <string>
        + project-image-preview <src>

mixin caseStudyPreview(data, index)
    .case-study.case-study-window.item.case-study-item&attributes( {'data-inproject': false}, {'data-projectIndex': index}, {'data-project': data.route},  {'id': data.preview} )
        .case-study-overview.endeavor-overview.endeavor-overview-preview
            .description
                .description-wrapper
                    h3=data.project_type
                    h2=data.name
                    hr
                    //- p=data.description.brief
            .hero-box
                .hero(style=`background-image: url(${data.image_hero})`)


//-  Project-Study Preview
    Requires: <data> <index>
        + route <scr/string>
        + name-preview <string>
        + project-name <string>
        + project-description <string>
        + project-image-preview <src>

mixin projectPreview(data, index)
    li.select-work-item.item.project-item&attributes( {'data-inproject': false}, {'data-projectIndex': index}, {'data-project': data.route}, {'id': data.preview} )
        .select-work-img-container
            .select-work-description
                p.tamer=data.description.brief
                hr
            .select-work-img(style=`background-image: url(${data.image_preview})`)
        h3 #{data.name}


//-  Endeavor Header
    Requires: <data>
        + route <scr/string>
        + name-preview <string>
        + project-name <string>
        + project-description <string>
        + project-image-preview <src>

mixin endeavorHeader(data)
    .endeavor-overview
        .description
            .description-wrapper
                h3=data.project_type
                h2=data.name
                hr
                //- p=data.description.brief
        .hero-box.hero-parallax.parallax__group
            .hero.parallax__layer--back.no-hover(style=`background-image: url(${data.image_hero})`)


//-  Endeavor Main Description & Meta Info
    Requires: <data.description> <data.meta>
        + project-description <{string}>
        + project-meta <{string}>
            + Client
            + Year
            + Role
            + Team
            + Discipline
            + Medium
            + Technologies
            + Duration

mixin endeavorIntro(data)
    - var description = data.description
    - var meta = data.meta
    .endeavor-intro.cf
        .endeavor-description 
            q=description.quote
            h4 Brief
            p.tamer=description.extensive
            h4 Process
            p.tamer=description.process
        .meta-data
            ul
                li Client
                li=meta.Client
            ul
                li Year
                li=meta.Year
            ul
                li Role
                li=meta.Role
            ul
                li Team
                li=meta.Team
            ul
                li Discipline
                li=meta.Discipline
            ul
                li Medium
                li=meta.Medium
            ul
                li Technologies
                li=meta.Technologies
            ul
                li Duration
                li=meta.Duration


//-  Endeavor Expandable Description Sections
    Requires: <data.description> <data.meta>
        + project-description <{string}>

mixin endeavorDescriptions(data)
    - var sections = data.sections
    .endeavor-item.cf
        .endeavor-description.endeavor-item-left-100.no-border
            each section, index in sections 
                h4=section.name
                p.tamer=section.content


//-  Endeavor Expandable Description Sections Float Right
    Requires: <data.description> <data.meta>
        + project-description <{string}>

mixin endeavorDescriptionsRight(data)
    - var sections = data.sections
    .endeavor-item.cf
        .endeavor-description.endeavor-float-right
            each section, index in sections 
                h4=section.name
                p.tamer=section.content


//-  Endeavor Expandable Description Sections // Large Type
    Requires: <data.description> <data.meta>
        + project-description <{string}>

mixin endeavorDescriptionsBig(data)
    - var sections = data.sections
    .endeavor-item.cf
        .endeavor-description-big.endeavor-item-left-100.no-border
            each section, index in sections 
                h4=section.name
                p.tamer=section.content


//-  Endeavor Project | Full-Width blocking, Caption
    Requires: <data.caption>
    Optional: <data.textColor>
    Description: 35vw-Width Text Element

mixin endeavorCaptionFS(data)
    - var caption = data.caption
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK
    .endeavor-item-no-margin.fsw
        p.caption.no-margin.endeavor-padding-left-50.endeavor-width-500px(style=`color: ${textColor}`)=caption


//-  Endeavor Project | Full-Width blocking, Caption
    Requires: <datum.caption>
    Description: 60vw-Width Text Element // Slightly larger text size + Circular Font

mixin endeavorCaptionFS2(datum)
    - var caption = datum.caption
    .endeavor-item.fsw
        p.no-margin.endeavor-caption-2.endeavor-padding-left-50.endeavor-width-60-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Caption | Centered
    Requires: <datum.caption>
    Description: 35vw-Width Text Element Centered

mixin endeavorCaptionFSCenter(datum)
    - var caption = datum.caption
    .endeavor-item.endeavor-flex.endeavor-flex-center.fsw
        p.caption.no-margin.endeavor-text-center.endeavor-width-500px=caption


//-  Endeavor Project | Full-Width blocking, Caption | Centered
    Requires: <datum.caption>
    Description: 60vw-Width Text Element Centered // Slightly larger text size + Circular Font

mixin endeavorCaptionFSCenter2(datum)
    - var caption = datum.caption
    .endeavor-item.endeavor-flex.endeavor-flex-center.fsw
        p.endeavor-caption-2.no-margin.endeavor-text-center.endeavor-width-60-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Caption | Centered
    Requires: <datum.caption>
    Description: 75vw-Width Text Element Centered // Pull Quote text size + Circular Font

mixin endeavorCaptionFSCenter3(datum)
    - var caption = datum.caption
    .edeavor-item.endeavor-flex.endeavor-flex-center.fsw
        p.endeavor-pull-quote.no-margin.endeavor-text-center.endeavor-width-75-prcnt=caption


//-  Endeavor Project | Full-Width blocking, Subheader + Caption | Centered
    Requires: <data.header> <data.caption>
    Description: 35vw-Width Text Element Centered // Sub-Header + Caption + Circular Font

mixin endeavorPullheaderCaptionFS(data)
    - var subheader = data.subheader
    - var caption = data.caption
    .endeavor-item.endeavor-flex.endeavor-flex-center.endeavor-flex-column.fsw
        h2.endeavor-subheader.endeavor-pull-quote=subheader
        p.endeavor-caption-2.no-margin.endeavor-text-center.endeavor-width-60-prcnt=caption



//-  Endeavor Project | Full-Width blocking, Content
    Requires: <datum.content>
    Description: 35vw-Width Text Element

mixin endeavorContentFS(datum)
    - var content = datum.content
    .edeavor-item.fsw
        p.content.no-margin.endeavor-float-right.endeavor-width-500px=content


//-  Endeavor Project | Full-Width blocking, Sub-Header
    Requires: <datum.subheader>
    Description: Full-Width Image Element

mixin endeavorSubheaderFS(datum)
    - var subheader = datum.subheader
    .edeavor-item.endeavor-item-top-125
        h3=datum.subheader

        hr.slight.endeavor-item-top-10.fsw


//-  Endeavor Project | Full-Width blocking, Sub-Header
    Requires: <datum.subheader> <datum.caption>
    Description: Full-Width Image Element

mixin endeavorSubheaderCaptionFS(data)
    - var subheader = data.subheader
    - var caption = data.caption
    .edeavor-item
        h3=data.subheader
        p.caption.no-margin.endeavor-item-top-15.endeavor-width-500px=caption
        hr.slight.endeavor-item-top-25.fsw


//-  Endeavor Project | Full-Width Centered Header + Subtext
    Requires: <data.header> <data.subtext>
    Description: Full-Width Image Element

mixin endeavorIntroFS(data)
    - var header = data.header
    - var subtext = data.subtext
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK
    .endeavor-item.endeavor-50.endeavor-flex-column.endeavor-flex-center.fsw(style=`background-color: ${bgColor}`)
        h1.endeavor-block.endeavor-header(style=`color: ${textColor}`)=data.header
        p.endeavor-block.endeavor-subtext(style=`color: ${textColor}`)=data.subtext


//-  Endeavor Project | Full-Width Centered Header + Subtext
    Requires: <data.header> <data.subtext>
    Description: Full-Width Image Element

mixin endeavorSectionIntroFS(data)
    - var header = data.header
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK
    .endeavor-item-top-125.endeavor-flex-column.endeavor-flex-center.fsw(style=`background-color: ${bgColor}`)
        h2.section-intro.endeavor-block.endeavor-header(style=`color: ${textColor}`)=data.header


//-  Endeavor Project | Full-Width, Text left, Right-Aligned Square Image
    Requires: <data.text> <data.img>
    Description: Full-Width, Responsive Img + Text Element

mixin endeavorTextLeftImageFS(data)
    - var text = data.text
    - var superText = data.superText
    - var image = data.image
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK
    - var sizeClass = data.sizeClass

    .endeavor-item.endeavor-horizontal-10vw.endeavor-flex-row-nowrap.endeavor-flex-center-main.endeavor-flex-between.fsw(style=`background-color: ${bgColor}`)
        img.img-load.endeavor-second.veil(src=image.src)&attributes({'data-src': image.src})(class=`${sizeClass}`)
        .endeavor-block
            h3.endeavor-text-left(style=`color: ${textColor}`)=data.superText
            p.endeavor-pulltext.endeavor-text-left(style=`color: ${textColor}`)=data.text


//-  Endeavor Project | Full-Width, Text Right, Left-Aligned Square Image
    Requires: <data.text> <data.img>
    Description: Full-Width, Responsive Img + Text Element

mixin endeavorTextRightImageFS(data)
    - var text = data.text
    - var superText = data.superText
    - var image = data.image
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK
    - var sizeClass = data.sizeClass

    .endeavor-item.endeavor-horizontal-10vw.endeavor-flex-row-nowrap.endeavor-flex-center-main.endeavor-flex-between.fsw(style=`background-color: ${bgColor}`)
        img.img-load.veil(src=image.src)&attributes({'data-src': image.src})(class=`${sizeClass}`)
        .endeavor-block.endeavor-second
            h3.endeavor-text-left(style=`color: ${textColor}`)=data.superText
            p.endeavor-pulltext.endeavor-text-left(style=`color: ${textColor}`)=data.text


//-  Endeavor Project | Full-Width, Text left, Right-Aligned Square Image
    Requires: <data.text> <data.img>
    Description: Full-Width, Responsive Img + Text Element

mixin endeavorLeftImageFS(data)
    - var image = data.image
    - var imagePadding = data.image.padding ? data.image.padding : 0
    - var sizeClass = data.sizeClass
    - var size = data.size ? data.size : "100%"
    - var bgColor = data.bgColor ? data.bgColor : "transparent"

    .endeavor-item.endeavor-item-no-margin.endeavor-horizontal-10vw.endeavor-flex-row-nowrap.endeavor-flex-center-main.endeavor-flex-start.fsw(style=`background-color: ${bgColor}`)
        .endeavor-contaner.endeavor-flex.endeavor-flex-center(class=`${sizeClass}`)
            img.img-load.veil(src=image.src)(style=`width: ${size};height: ${size}`)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width, Text Right, Left-Aligned Square Image
    Requires: <data.text> <data.img>
    Description: Full-Width, Responsive Img + Text Element

mixin endeavorRightImageFS(data)
    - var image = data.image
    - var imagePadding = data.image.padding ? data.image.padding : 0
    - var sizeClass = data.sizeClass
    - var size = data.size ? data.size : "100%"
    - var bgColor = data.bgColor ? data.bgColor : "transparent"

    .endeavor-item.endeavor-item-no-margin.endeavor-horizontal-10vw.endeavor-flex-row-nowrap.endeavor-flex-center-main.endeavor-flex-end.fsw(style=`background-color: ${bgColor}`)
        .endeavor-contaner.endeavor-flex.endeavor-flex-center(class=`${sizeClass}`)
            img.img-load.veil(src=image.src)(style=`width: ${size};height: ${size}`)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width, Text Left
    Requires: <datum.text>
    Description: Full-Width, Text Element

mixin endeavorTextLeftFS(data)
    - var text = data.text
    - var superText = data.superText
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK

    .endeavor-item.endeavor-horizontal-10vw.endeavor-flex-row-nowrap.endeavor-flex-center-main.endeavor-height-25vw.endeavor-flex-start.fsw(style=`background-color: ${bgColor}`)
        .endeavor-block
            h3.endeavor-text-left(style=`color: ${textColor}`)=data.superText
            p.endeavor-pulltext.endeavor-text-left(style=`color: ${textColor}`)=data.text


//-  Endeavor Project | Full-Width, Text Right
    Requires: <datum.text>
    Description: Full-Width, Text Element

mixin endeavorTextRightFS(data)
    - var text = data.text
    - var superText = data.superText
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK

    .endeavor-item.endeavor-horizontal-10vw.endeavor-flex-row-nowrap.endeavor-flex-center-main.endeavor-height-25vw.endeavor-flex-end.fsw(style=`background-color: ${bgColor}`)
        .endeavor-block.endeavor-second
            h3.endeavor-text-left(style=`color: ${textColor}`)=data.superText
            p.endeavor-pulltext.endeavor-text-left(style=`color: ${textColor}`)=data.text


//-  Endeavor Project | Full-Width Adaptive Image
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageFS(datum)
    - var image = datum.image
    img.img-load.endeavor-item.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImage100vw(datum)
    - var image = datum.image
    img.img-load.endeavor-item.veil.endeavor-width-100vw.endeavor-pos-rel(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image // No Top Margin
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageNoTopFS(datum)
    - var image = datum.image
    img.img-load.endeavor-item-top-none.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image // No Margin
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageNoMarginFS(datum)
    - var image = datum.image
    img.img-load.endeavor-item-no-margin.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image // No Top Margin
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageNoBottomFS(datum)
    - var image = datum.image
    img.img-load.endeavor-item-bottom-none.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | 75%-Width Adaptive Image // No Top Margin
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImageNoTop75(datum)
    - var image = datum.image
    img.img-load.endeavor-item-top-none.veil.endeavor-width-75-percent(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Image
    Requires: <datum.images[[>
    Description: Full-Width Image Elements Array

mixin endeavorImageFSList(data)
    - var images = data.images
    each image, index in images
        img.img-load.endeavor-item.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | 75%-Width Adaptive Image
    Requires: <datum.img.scr>
    Description: Full-Width Image Element

mixin endeavorImage75(datum)
    - var image = datum.image
    img.img-load.endeavor-item.veil.endeavor-width-75-percent(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | 75%-Width Adaptive Image
    Requires: <datum.images[[>
    Description: Full-Width Image Elements Array

mixin endeavorImage75List(data)
    - var images = data.images
    each image, index in images
        img.img-load.endeavor-item-25.veil.endeavor-width-75-percent(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Full-Width Adaptive Youtube Video
    Requires: <datum.src>
    Description: Full-Width Embed Video Element

mixin endeavorVideoFS(datum)
    - var video = datum.video
    iframe.endeavor-item.media-settings.media-frame.video-settings(width="1920" height="1080" src=video.src frameborder="0" allowfullscreen)


//-  Endeavor Project | Full-Width Adaptive Issuu Digital Publication
    Requires: <datum.src>
    Description: Full-Width Embeded Digital Publication

mixin endeavorPubFS(datum)
    - var pub = datum.pub
    iframe.endeavor-item.media-settings.media-frame.pub-settings(src=pub.src frameborder="0" allowfullscreen)


//-  Endeavor Project | End Pad
    Optional: <datum.height> --> Could extend for modularity (see <endeavor.styl)
    Description: empty div to provide padding

mixin endeavorPad(data)
    - var _height = data.height ? data.height : "250px"
    - var _class = data.class ? data.class : "endeavor-item"
    .fsw(style=`height: ${_height}`)(class=`${_class}`)


//-  Endeavor Parallax Images Left
    Requires: <data.pullQuote> <data.image[0], data.image[1]>
    Description: Self-Containing parallax element with two left image and a flush-right pull quote

mixin endeavorTwoImageParallaxLeft(data)
    - var image1 = data.image1
    - var image2 = data.image2
    - var pullQuote = data.pullQuote
    .endeavor-para-box.endeavor-item.parallax__group
        blockquote.left.parallax__layer.parallax__layer--fore=pullQuote
        .endeavor-image-box.endeavor-item-top.endeavor-item-bottom-50(style=`background-image: url(${image1.src})`)
        .endeavor-image-box.endeavor-item-bottom-125(style=`background-image: url(${image2.src})`)


//-  Endeavor Parallax Images Right
    Requires: <data.pullQuote> <data.image[0], data.image[1]>
    Description: Self-Containing parallax element with two left image and a flush-left pull quote

mixin endeavorTwoImageParallaxRight(data)
    - var image1 = data.image1
    - var image2 = data.image2
    - var pullQuote = data.pullQuote
    .endeavor-para-box.parallax__group   
        .endeavor-image-box.endeavor-item-top.endeavor-item-bottom-50.right(style=`background-image: url(${image1.src})`)
        .endeavor-image-box.right.endeavor-item-bottom-125(style=`background-image: url(${image2.src})`)
        blockquote.right.parallax__layer.parallax__layer--fore=pullQuote


//-  Endeavor Image Grid Iterator
    Requires: <data.images[]> <data.images_preview[]>
    Description: Self-Containing element for displaying up to [ 7 ] images in an interacive slider

mixin endeavorImageGridIterator(data)
    - var images = data.images
    .endeavor-item-125.grid.image-grid-wrapper
        .grid-slider.slider-transition
            each image, i in images
                div.fill-area
                    img.img-load.limit-width-50vw.big-moment-3-color.endeavor-image-box--center(src=`${image.src}`)
        each image, i in images
            .image-grid-container.bounce&attributes({'data-slide': i})
                .image-grid(style=`background-image: url(${image.src_preview})`) 


//-  Endeavor Parallax Behind
    Requires: <datum.src>
    Description: Self-Containing element for a full-screen parallax behind effect. Note: margins won't work on this guy.

mixin endeavorParallaxBehind(datum)
    - var image = datum.image
    .endeavor-parallax-behind-fs.endeavor-width-100vw.parallax__group
        .endeavor-parallax-behind-support.parallax__layer--back(style=`background-image: url(${image.src})`) 


//-  Endeavor Parallax Right + Caption Left
    Requires: <data.imageBig> <data.imageParallax> <data.caption>
    Description: Self-Containing element for a body-width background image, fixed caption + parallax image effect.

mixin endeavorParallaxCaptionRight(data)
    - var imageBig = data.imageBig
    - var imageParallax = data.imageParallax
    - var caption = data.caption
    .endeavor-item.fsw.endeavor-parallax-hybrid.parallax__group  
        .endeavor-parallax-hybrid-color(style=`background-image: url(${imageBig.src})`)
        img.img-load.img-box.endeavor-parallax-hybrid-left-img-box.parallax__layer.parallax__layer--fore(src=`${imageParallax.src}`)
        p.endeavor-parallax-hybrid-left-caption.caption=caption


//-  Endeavor Parallax Left + Caption Right
    Requires: <data.imageBig> <data.imageParallax> <data.caption>
    Description: Self-Containing element for a body-width background image, fixed caption + parallax image effect.

mixin endeavorParallaxCaptionLeft(data)
    - var imageBig = data.imageBig
    - var imageParallax = data.imageParallax
    - var caption = data.caption
    .endeavor-item.fsw.endeavor-parallax-hybrid.parallax__group  
        .endeavor-parallax-hybrid-color(style=`background-image: url(${imageBig})`)
        img.img-load.img-box.endeavor-parallax-hybrid-right-img-box.parallax__layer.parallax__layer--fore(src=`${imageParallax.src}`)
        p.endeavor-parallax-hybrid-right-caption.caption=caption


//-  Endeavor Image Centered + Caption
    Requires: <result.image> <result.caption>
    Description: Self-Containing element for centered image + caption

mixin endeavorImageCenterCaption(data)
    - var image = data.image
    - var caption = data.caption
    .endeavor-item.endeavor-para-box.fsw.endeavor-flex-column
        img.img-load.endeavor-width-50-prcnt.img-box.endeavor-image-box--center(src=`${image.src}`)
        p.caption.center-caption=caption


//-  Endeavor Swipable Image Slide
    Requires: <result.images[]>
    Description: Self-Containing element for centered swipable image carousel

mixin endeavorImageSlider(data)
    - var images = data.images
    .endeavor-item.endeavor-image-slider
        each image, i in images
            img.img-load.endeavor-image-slider-color.fsw(src = `${images[i].src}`)


//-  Endeavor Swipable Image Slider 75
    Requires: <result.images[]>
    Description: Self-Containing element for centered swipable image carousel

mixin endeavorImageSlider75(data)
    - var images = data.images
    .endeavor-item.endeavor-image-slider.endeavor-width-75-prcnt.endeavor-center
        each image, i in images
            img.img-load.endeavor-image-slider-color.fsw(src = `${images[i].src}`)


//-  Endeavor Display Card + Image
    Requires: <data.image> <data.header>
    Optional: <data.textColor> <data.bgColor> <data.bgColor2>
    Description: Display Card with Border Radius + Image + Centered // No Margin

mixin endeavorCardCenter(data)
    - var image = data.image
    - var header = data.header
    - var textColor = data.textColor ? data.textColor : "#A1A1A1"
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var bgColor2 = data.bgColor2 ? data.bgColor2 : "transparent"
    .endeavor-item-no-margin.endeavor-flex-center.endeavor-flex
        .endeavor-card.endeavor-radius-50px.endeavor-flex-center-main.endeavor-square-250px.endeavor-flex-column(style=`background-color: ${bgColor}`)
            .endeavor-item-50-25.endeavor-square-60px.endeavor-center.endeavor-circle.endeavor-flex.endeavor-flex-center.endeavor-item-bottom-25(style=`background-color: ${bgColor2}`)
                img.img-load.endeavor-width-40-prcnt(src = `${image.src}`)
            h2.card-header.endeavor-text-center(style=`color: ${textColor}`)=header


//-  Endeavor Display Card + Image
    Requires: <data.image> <data.header>
    Optional: <data.textColor> <data.bgColor> <data.bgColor2>
    Description: Display Card with Border Radius + Image + Centered // No Margin

mixin endeavorVerticalComparison(data)
    - var image = data.image
    - var textLeft = data.textLeft
    - var textRight = data.textRight
    - var textColor = data.textColor ? data.textColor : "#A1A1A1"
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var bgColor2 = data.bgColor2 ? data.bgColor2 : "transparent"
    - var lineColor = data.lineColor ? data.lineColor : "transparent"
    - var weight = data.first ? "600" : "200"
    .endeavor-item-no-margin.endeavor-flex-center.endeavor-flex-column.endeavor-height-200px
        .endeavor-vertical-rule.endeavor-pos-abs.endeavor-height-200px(style=`background-color: ${lineColor}`)
        .endeavor-item-25.endeavor-square-60px.endeavor-center.endeavor-circle.endeavor-flex.endeavor-flex-center.endeavor-push-1(style=`background-color: ${bgColor2}`)
            img.img-load.endeavor-width-40-prcnt(src = `${image.src}`)
            p.endeavor-pos-abs.endeavor-width-150px.endeavor-left-100px.endeavor-text-left(style=`color: ${textColor};font-weight: ${weight}`)=textLeft
            p.endeavor-pos-abs.endeavor-width-150px.endeavor-right-100px.endeavor-text-right(style=`color: ${textColor};font-weight: ${weight}`)=textRight



//- -------------- Hybrid Components ----------------



//-  Endeavor Project | Adaptive Horizontal Column Element
    Requires: <data.header> <data.caption>
    Description: Apaptive Horizontal Column Element with Header + Caption

mixin endeavorCaptionHeader(data, _width)
    - var header = data.header
    - var caption = data.caption
    .endeavor-border-top.endeavor-item-all-25
        h4.endeavor-item-bottom-15=header
        p.caption.caption-mod.endeavor-text-left.no-margin=caption


//-  Endeavor Project | Adaptive Horizontal Column Element
    Requires: <data.header> <data.image>
    Description: Apaptive Horizontal Column Element with Header + Image

mixin endeavorImageHeader(data, _width)
    - var header = data.header;
    - var image_top = data.image_top;
    - var images = data.images;
    .endeavor-item-all-25
        img.img-load.veil.fsw(src=image_top.src)&attributes({'data-src': image_top.src})
        h4.endeavor-item-bottom-15.endeavor-text-center.endeavor-item-top-50=header
        each image, index in images
            img.img-load.veil.fsw(src=image.src)&attributes({'data-src': image.src})


//-  Endeavor Project | Adaptive Horizontal Column Element Iterator
    Requires: <data.headers[]> <data.captions[]> 
    Works best with 3 columns --> As dictated by @media

mixin endeavorCaptionHeaderGrid(data)
    - var _width = (1 / (data.length + 0.5)) * 100; //- % of available width | 0.5 experimentally determined spacing coefficiant
    .endeavor-item.endeavor-flex-row-nowrap.endeavor-flex-around
        each datum, index in data
            +endeavorCaptionHeader(datum, _width)


//-  Endeavor Project | Adaptive Horizontal Column Element Iterator
    Requires: <data.headers[]> <data.images[]> 
    Works best with 3 columns --> As dictated by @media

mixin endeavorImageHeaderGrid(data)
    - var _width = (1 / (data.length + 0.5)) * 100; //- % of available width | 0.5 experimentally determined spacing coefficiant
    .endeavor-item.endeavor-flex-row-nowrap.endeavor-flex-around
        each datum, index in data
            +endeavorImageHeader(datum, _width)


//-  Endeavor Project | Adaptive Horizontal Column Elementz
    Requires: <data.quantity> <data.units> <data.noun>
    Description: Apaptive Horizontal Column Element for simple infographic explanations

mixin endeavorInfographic(data, _width)
    - var quantity = data.quantity
    - var units = data.units
    - var noun = data.noun
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var bgColor2 = data.bgColor2 ? data.bgColor2 : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK
    - var textColor2 = data.textColor2 ? data.textColor2 : "#232323" // $BLACK
    .endeavor-item-all-25(style=`background-color: ${bgColor}`)
        .endeavor-square-125px.endeavor-center.endeavor-circle.endeavor-flex.endeavor-flex-center.endeavor-item-bottom-25(style=`background-color: ${bgColor2}`)
            h1.thin.endeavor-item-no-margin.endeavor-text-center(style=`color: ${textColor2}`)=quantity
        p.endeavor-item-no-margin.endeavor-text-center(style=`color: ${textColor}`).endeavor-item-bottom-15=units
        h3.endeavor-item-no-margin.endeavor-text-center(style=`color: ${textColor}`).caption.caption-mod.no-margin=noun


//-  Endeavor Project | Adaptive Horizontal Row Iterator
    Requires: Infographic Module
    Description: Apaptive, Responsive Horizontal Row Iterator for simple infographic explanations

mixin endeavorInfographicGrid(data)
    .endeavor-item-125.endeavor-flex-row-nowrap.endeavor-flex-around.endeavor-horizontal-10vw
        each datum, index in data
            +endeavorInfographic(datum)


//-  Endeavor Project | Adaptive Horizontal Row Iterator
    Requires: Infographic Module
    Description: Apaptive, Responsive Horizontal Row Iterator for simple infographic explanations

mixin endeavorInfographicCompare(data)
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var textColor = data.textColor ? data.textColor : "#232323" // $BLACK
    - var label = data.label ? data.label : ""
    - var contents = data.contents
    .endeavor-flex.endeavor-horizontal-10vw.endeavor-item-no-margin
        .endeavor-side-label.endeavor-flex.endeavor-flex-center(style=`background-color: ${bgColor}`)
            h3.endeavor-rot-90-ccw(style=`color: ${textColor}`)=label
        .endeavor-flex-row-nowrap.endeavor-flex-around.endeavor-flex-center-main.endeavor-flex-2
            each content, index in contents
                +endeavorInfographic(content)


//-  Endeavor Project | Full 100vw Element
    Requires: <data.modules> <data.modules.data> 
    Useful for creating full screen extensive backgrounds + overlays

mixin endeavorModuleMachine(data)
    - var bgImage = data.bgImage ? data.bgImage : "none"
    - var bgColor = data.bgColor ? data.bgColor : "transparent"
    - var _class = data.class ? data.class : "endeavor-item"
    .endeavor-width-100vw.endeavor-bg-200.endeavor-bg-center.endeavor-pos-rel(class=`${_class}`)(style=`background-image: url(${bgImage.src});background-color: ${bgColor}`)
        .endeavor-item-no-margin.endeavor-width-norm
            each module, index in data.modules
                +#{module.name}(module.data)





































