extends layout

block content

    // INTERACTIVE PAGE
    #interactive
        #info
            #cross-circle
                .vert-line
                .horz-line
            p#greeting I'm <strong>Alex Norton.</strong> <br> Interaction Designer & Researcher.
            p#infoText This interactive character was developed using the P5js framework along with the Toxiclibs physics library.
        //- #landing-arrow.scroll-arrow
            //- p Scroll Down 
            <i class="fa  fa-angle-down fa-2x"></i>           

    // /INTERACTIVE

    // PAGINATION
    #pagination
        //- #prev-arrow-box
            <i class="fa fa-long-arrow-up fa-lg" id="prev-arrow"></i>
        for result in projects
            .pagination&attributes({'data': result.name})
            .pagination&attributes({'data': result.name})
            .pagination&attributes({'data': result.name})
            .pagination&attributes({'data': result.name})
            .pagination&attributes({'data': result.name})
        //- #next-arrow-box
            <i class="fa fa-long-arrow-down fa-lg" id="next-arrow"></i>
        //- p.next-section Next Section  ::  <strong>!{projects[0].name}</strong>

    // /PAGINATION

    // GLOBAL NAVIGATION
    .nav-footer
        //- .golden-divider
        .section-name
            p //  Next  ::  <strong>Works</strong> 
            <i class="fa fa-long-arrow-right"></i>

    input(type="checkbox" id = "nav-trigger" class = "nav-trigger")
    label(for = "nav-trigger")#nav-burger.nav-burger-preload
        hr
        hr
        hr
        hr

    // /GLOBAL NAVIGATION

    // NAV DRAWER
    .nav
        #nav-box
            #nav-triangle-top
            #nav-rectangle-bottom
            ul
                li.nav-item
                    a(href="#") Bios
                li.nav-item
                    a(href="#") Resume
                li.nav-item
                    a(href="#") Contact
                li.nav-item
                    a(href="#") Works
        .social
            <i class="fa fa-envelope fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-vimeo-square fa-2x"></i>
            <i class="fa fa-github fa-2x"></i>
            <i class="fa fa-behance-square fa-2x"></i>
    // /NAV DRAWER

    // HEADER
    header

        #logo
            img(src = "/images/logo.svg" alt = "main logo")
            p 
               | Alex Norton<br>
               | Interaction Designer

    // /HEADER  

    //BIOS PAGE
    #bios
        
        // BIOS BOX
        #bios-box
            #triangle-top
            #rectangle-bottom
            #bios-text
                p !{bios_text.description_short}
                p#readMore !{bios_text.description_long}
            ul
                li.link 
                    p#bio Read More
            .social
                <i class="fa fa-envelope fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i>
                <i class="fa fa-vimeo-square fa-2x"></i>
                <i class="fa fa-github fa-2x"></i>
                <i class="fa fa-behance-square fa-2x"></i>
        // /BIOS BOX

    // /BIOS PAGE   

    // Wrapper for site main contents
    #content-wrapper  

        // PROJECT ITERATOR
        each result, index in projects
            .project-view&attributes({'data': index})
                // PROJECT OVERVIEW
                .filler-content
                    //- .scroll-arrow
                        //- p Scroll Down 
                        <i class="fa  fa-angle-down fa-2x"></i>    
                .project-overview
                    .description
                        p - #{result.year} -
                        h2 #{result.name}
                        p #{result.description_short}
                        .social
                            <i class="fa fa-envelope fa-lg"></i>
                            <i class="fa fa-twitter fa-lg"></i>
                            <i class="fa fa-vimeo-square fa-lg"></i>
                            <i class="fa fa-github fa-lg"></i>
                            <i class="fa fa-behance-square fa-lg"></i>
                    .hero-box
                        .overlay
                        .hero(style='background-image: url(#{result.hero});')
                // /PROJECT OVERVIEW
                .project-contents
                    .project-intro.cf
                        .main-description 
                            p #{result.description_long}
                        ul.meta-data
                            li Client
                            li #{result.meta.Client}
                            li Year
                            li #{result.meta.Year}
                            li Role
                            li #{result.meta.Role}
                            li Team
                            li #{result.meta.Team}
                            li Discipline
                            li #{result.meta.Discipline}
                            li Medium
                            li #{result.meta.Medium}
                            li Technologies
                            li #{result.meta.Technologies}
                            li Duration
                            li #{result.meta.Duration}

                    // 2X PARALLAX IMAGES LEFT
                    .para-box
                        .image-box(style='background-image: url(#{result.hero});')
                            .image-left.parallax
                                blockquote.parallax-layer.parallax__layer--forward #{result.pull_quotes[0]}
                        .image-box(style='background-image: url(#{result.hero});')
                            .image-left
                                p.caption #{result.description_long_2}

                    // GRID ITERATOR
                    .image-grid-wrapper
                        each image, index in result.images
                            .image-grid-container
                                .image-grid(style='background-image: url(#{result.images[index].src});')
                    // /GRID ITERATOR
                    .big-moment-1
                        .big-moment-1-color(style='background-image: url(#{result.images[index].src});')
                        h1.center We Out Here

                    // GRID ITERATOR 2
                    .image-grid-wrapper
                        each image, index in result.images
                            .image-grid-container
                                .image-grid(style='background-image: url(#{result.images[index].src});')
                    // /GRID ITERATOR 2

                    // 2X PARALLAX IMAGES RIGHT
                    .para-box
                        .image-box.right(style='background-image: url(#{result.hero});')
                            .image-right
                                p.caption.caption--2 #{result.description_long_2}
                        .image-box.right(style='background-image: url(#{result.hero});')
                            .image-right.parallax
                                .parallax-layer.parallax__layer--forward

                    #video-frame
                        iframe(src="//player.vimeo.com/video/95969058" width="1600" height="1000" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

                    .big-moment-2
                        .big-moment-2-color(style='background-image: url(#{result.images[index].src});')
                        .img-box(style='background-image: url(#{result.images[index].src});')
                        p.caption #{result.description_long_2}

                    // 2X PARALLAX IMAGES LEFT
                    .para-box
                        .image-box(style='background-image: url(#{result.hero});')
                            .image-left.parallax
                                .parallax-layer.parallax__layer--forward
                        .image-box(style='background-image: url(#{result.hero});')
                            .image-left
                                p.caption #{result.description_long_2}

                    .big-moment-2
                        .big-moment-2-color(style='background-image: url(#{result.images[index].src});')
                    .close
                        svg.clothes-line
                            line(x1="0" y1="0" x2="25" y2="0" stroke-linecap="round")

        // /PROJECT ITERATOR