extends layout

block content

    // INTERACTIVE PAGE
    #interactive
        #info
            #cross-circle
                .vert-line
                .horz-line
            p#greeting I'm <strong>Alex Norton.</strong> <br> Interaction Designer & Researcher.
            p#infoText This interactive visualization of interest was developed using the P5js framework along with the Toxiclibs physics library. <br class="boost-space"> Vertices used to construct the character are influenced by an underlying physics system and mapped to extend towards difference areas of my interest.
        .nav-footer

    // /INTERACTIVE

    // PAGINATION
    #pagination
        for result in projects
            .pagination&attributes({'data': result.name})

    // /PAGINATION

    //BIOS PAGE
    #bios
        
        // BIOS BOX
        #bios-box
            #triangle-top
            #rectangle-bottom
            #bios-text
                p !{bios_text.description_short}
                p#readMore !{bios_text.description_long}
            ul
                li.link 
                    p#bio Read More
            .social
                <i class="fa fa-envelope fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i>
                <i class="fa fa-vimeo-square fa-2x"></i>
                <i class="fa fa-github fa-2x"></i>
                <i class="fa fa-behance-square fa-2x"></i>
        // /BIOS BOX

        .nav-footer

    // /BIOS PAGE

    input(type="checkbox" id = "nav-trigger" class = "nav-trigger")
    label(for = "nav-trigger")#nav-burger.nav-burger-preload
        hr
        hr
        hr
        hr

    // NAV DRAWER
    .nav
        #nav-box
            #nav-triangle-top
            #nav-rectangle-bottom
            ul
                li.nav-item
                    a(href="#") Bios
                li.nav-item
                    a(href="#") Resume
                li.nav-item
                    a(href="#") Contact
                li.nav-item
                    a(href="#") Works
        .social
            <i class="fa fa-envelope fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-vimeo-square fa-2x"></i>
            <i class="fa fa-github fa-2x"></i>
            <i class="fa fa-behance-square fa-2x"></i>
    // /NAV DRAWER

    // HEADER
    header

        #logo
            img(src = "/images/logo.svg" alt = "main logo")
            p 
               | Alex Norton<br>
               | Interaction Designer

        img#arrow(src = "/images/rnd.svg" alt = "down arrow")
    // /HEADER  
    

    // Wrapper for site main contents
    #content-wrapper  

        // PROJECT ITERATOR
        each result, index in projects
            .project-view&attributes({'data': index})
                // PROJECT OVERVIEW
                .filler-content
                .project-overview
                    .description
                        p - #{result.year} -
                        h2 #{result.name}
                        p #{result.description_short}
                        .social
                            <i class="fa fa-envelope fa-lg"></i>
                            <i class="fa fa-twitter fa-lg"></i>
                            <i class="fa fa-vimeo-square fa-lg"></i>
                            <i class="fa fa-github fa-lg"></i>
                            <i class="fa fa-behance-square fa-lg"></i>
                    .hero-box
                        .overlay
                        .hero(style='background-image: url(#{result.hero});')
                // /PROJECT OVERVIEW
                .project-contents
                    .main-description 
                        p #{result.description_long}
                    .pull-left
                        .top-rule
                        h1 #{result.pull_quotes[0]}
                        .bottom-rule
                        // p  #{result.pull_quotes[0]}
                    // GRID ITERATOR
                    .image-grid-wrapper
                        each image, index in result.images
                            .image-grid-container
                                .image-grid(style='background-image: url(#{result.images[index].src});')
                    // /GRID ITERATOR
                    .big-moment-1
                        .big-moment-1-color
                        img(src = result.cut alt = "big image")
                        h1.center We Out Here
                    .two-bi-two
                        .pull-left
                            .image-grid-container
                                .image-grid(style='background-image: url(#{result.images[index].src});')
                            .image-grid-container
                                .image-grid(style='background-image: url(#{result.images[index].src});')
                        .pull-right
                            p.text #{result.description_long_1}
                            p.caption #{result.description_long_2}
                    .big-moment-2
                        .big-moment-2-color(style='background-image: url(#{result.images[index].src});')
                        .img-box(style='background-image: url(#{result.images[index].src});')
                        p.caption #{result.description_long_2}
                    #video-frame
                        iframe(src="//player.vimeo.com/video/95969058" width="1600" height="1000" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                    .close
                        svg.clothes-line
                            line(x1="0" y1="0" x2="25" y2="0" stroke-linecap="round")

        // /PROJECT ITERATOR